@font-face {
  font-family: "Mukta";
  src: url("./fonts/Mukta/Mukta-Bold.ttf");
  src: url("./fonts/Mukta/Mukta-Light.ttf");
  src: url("./fonts/Mukta/Mukta-Medium.ttf");
  src: url("./fonts/Mukta/Mukta-Regular.ttf");
  src: url("./fonts/Mukta/Mukta-Light.ttf");
  src: url("./fonts/Mukta/Mukta-ExtraBold.ttf");
  src: url("./fonts/Mukta/Mukta-ExtraLight.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

.v-application {
  font-family: "PT SANS" !important ;
  font-style: normal;
}
.app-head-txt{
    font-family:"Red Hat Display";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}
.transparent-bg{
  background: transparent !important;
}
.theme--dark.v-application {
  background-color: var(--v-background-base) !important;
  color:var(--v-fontColor-base) !important;
}
.theme--light.v-application {
  background-color: var(--v-background-base) !important;
  color:var(--v-fontColor-base) !important;
}

.full-width {
  width: 100%;
}
.margin-hr-5{
  margin:0px 5%;
}
.f-normal{;
  font-weight: 400;
}
.margin-b-44{
  margin-bottom: 44px;
}
.padding-h{
  padding: 70px 0px;
}
.flx-display{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 960px) and (max-width: 1263px) {
  .app-head-txt {
    font-size: 36px !important;
    line-height: 48px !important;
  }
}